@font-face {
  font-family: 'Necto-Mono';
  src: url('../fonts/Necto-Mono.woff2') format('woff2'),
      url('../fonts/Necto-Mono.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

/* Variavéis */

:root {
  --cor-principal: #000;
  --cor-secundaria: #fff;
  --fonte-principal: 'Necto-Mono', sans-serif;
  --fonte-secundaria: 'Noto Serif', serif;
  --fonte-grande: 70pt;
  --fonte-normal: 9pt;
  --fonte-pqn: 8pt;
}

* {
  box-sizing: border-box;
}

body {
  background-color: lightgray;
  padding: 2rem;
  font-family: var(--fonte-principal);
  font-size: var(--fonte-normal);
}

p {
  margin-top: 0;
}

img {
  width: 100%;
  display: block;
}

.folha {
  width: 21cm;
  height: 29.7cm;
  background-color: var(--cor-secundaria);
  padding: 15mm 15mm 15mm 40mm;
  margin-bottom: 10mm;
}

.conteudo {
  background-color: aqua;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  height: 100%;
}

.secao-infos {
  display: flex;
  align-items: flex-start;
}

.secao-infos .infos {
  background-color: pink;
  width: 134mm;
  padding-right: 5mm;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.secao-infos .infos .descricao {
  font-family: var(--fonte-secundaria);
  line-height: 1.3em;
}

.secao-infos .infos .creditos ul {
  padding: 0;
  list-style: none;
  text-transform: uppercase;
  font-size: var(--fonte-pqn);
  margin: 0;
}

.secao-infos .infos .creditos ul li span {
  border: 1pt solid;
  border-radius: 1em;
  padding: 0 0.5em;
  line-height: 1.5em;
}

.secao-infos .contagem p {
  background-color: pink;
  font-size: 60pt;
  line-height: 0.8em;
  text-align: left;
  letter-spacing: -0.04em;
  margin-bottom: 5mm;
}

.secao-infos .thumb {
  border: 1pt solid var(--cor-principal);
}

.secao-imagens {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  column-gap: 3mm;
  row-gap: 1mm;
}

.secao-imagens img {
  border: 1pt solid var(--cor-principal);
}

.secao-imagens p {
  font-size: var(--fonte-pqn);
  margin: 0;
}

.folha * {
  background-color: var(--cor-secundaria) !important;
}

@media print {
  @page {
    size: A4;
    margin: 0;
  }
  body {
    padding: 0;
    background-color: #fff;
  }
  .folha {
    margin: 0;
  }
}