/* Fontes
=============================================== */

@font-face {
  font-family: 'Necto-Mono';
  src: url('../fonts/Necto-Mono.woff2') format('woff2'),
      url('../fonts/Necto-Mono.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Noto Serif';
  src: url('../fonts/NotoSerif.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

/* Variáveis
=============================================== */

:root {
  --cor-principal: #000;
  --cor-secundaria: #fff;
  --fonte-principal: 'Necto-Mono', sans-serif;
  --fonte-secundaria: 'Noto Serif', sans-serif;
  --fonte-grande: 70pt;
  --fonte-normal: 9pt;
  --fonte-pqn: 8pt;
}

/* reset simplificado
=============================================== */

* {
  box-sizing: border-box;
}